.is-ctl-navigation, .is-ctl-search {
    .filter-panel-item .filter-panel-item-toggle {
        border: 0;
        line-height: 15px;
        font-size: 13px;
        font-weight: 300;
        color: $grey;
        text-transform: uppercase;
        padding: 0;
    }
    .filter-title-desctop {
        margin-bottom: 37px;
        color: $yellow;
        text-transform: uppercase;
    }
    .filter-panel-item {
        margin-bottom: 40px;
    }
    .filter-panel-items-container {
        max-width: 222px;
    }
    .filter-panel-wrapper {
        margin-top: 70px;
    }
    .cms-element-product-listing-actions {
        margin-bottom: 30px;
    }
    .sorting {
        width: 121px;
        .sorting.custom-select {
            background-color: transparent;
            font-size: 11px;
            color: #878787;
            text-transform: uppercase;
            font-weight: 300;
        }
    }
    @media (min-width: 1350px) {
        .container, .cms-section .boxed {
            max-width: 1300px;
            padding: 0;
        }
        .cms-section-sidebar-sidebar-content {
            padding-left: 0;
        }
    }
}

body {
    .product-box {
        border-color: #141414;
        background-color: #070707;
        border-radius: 0;
        .card-body {
            padding: 0;
        }
        .product-info {
            padding: 0 11px 11px;
        }
    }
    .product-image-wrapper {
        height: 310px;
        width: 100%;
        .product-image {
            height: 310px;
            max-height: 310px;
            width: 100%;
        }
    }
}


