.cms-block-form-two {
    .card-title {
        max-width: 600px;
    }
    .form-group {
        min-width: 100%;
    }
    .form-label {
        display: none;
    }
    .form-control, .custom-select {
        min-height: 50px;
    }
    .cms-element-text {
        h3 {
            margin-bottom: 80px;
            margin-top: 52px;
        }
        h4 {
            margin-bottom: 16px;
        }
        p {
            margin-bottom: 30px;
        }
        a {
            display: block;
            margin-top: 50px;
        }
    }
    form {
        margin-top: 40px;
    }
    .btn-primary {
        background: $grey;
        color: $background;
        width: 91px;
        border: 1px solid $grey;
        &:hover {
            border: 1px solid $yellow;
            color: $grey;
            background: $yellow;
        }
    }
    .form-group {
        margin-bottom: 10px;
    }
    .headline-uppercase {
        margin-left: -18px;
    }
}
