.sw-cms-block-text-headline-hummer {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 40px;
    text-align: center;
    .headline-uppercase {
        text-transform: uppercase;
        text-align: center;
    }
    .color-yellow {
        color: #EB6807;
    }
}
