.sw-cms-preview-text-headline {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    padding: 10px;
    background: #000;
    color: #fff;
    text-align: center;
    .headline-uppercase {
        text-transform: uppercase;
        text-align: center;
    }
    h2 {
        color: #fff;
        text-align: center;
    }
}
