{% block sw_cms_block_text_headline_preview %}
    <div class="sw-cms-preview-text-headline">
        <div>
            <p class="headline-uppercase">Ein Messer fürs Leben</p>
            <br>
            <h2>Entdecken Sie Ihren scharfen Wegbeleiter</h2>
        </div>
    </div>
{% endblock %}

