{% block sw_cms_block_text_one_preview %}
    <div class="sw-cms-preview-text-one">
        <div>
            <p class="headline-uppercase"><span style="color:#EB6807">+</span> Hier fehlt</p>
            <br>
            <h2>Handarbeit</h2>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
        </div>
    </div>
{% endblock %}

