.footer-main {
  position: relative;
  border-top: 1px solid $black-second;
    padding-top: 80px;
    #collapseFooterHotlineTitle {

    }
    #footerColumns {
        position: relative;
    }
    .footer-custom-headline {
        position: absolute;
        top: 0;
        left: 0;
        padding: 0;
    }
    #footerColumns {
        border: none;
    }
  .scroll-wrapper-arrow {
    position: absolute;
    right: 135px;
    bottom: 89px;
    cursor: pointer;
  }
  @media (max-width: 1612px) {
    .scroll-wrapper-arrow {
      right: 5%;
    }
  }
  @media (max-width: 667px) {
    .scroll-wrapper-arrow {
      right: 7%;
      bottom: auto;
      top: 25px;
      svg {
        width: 22px;
      }
    }
  }
    .footer-column-headline {
        color: $grey;
        font-size: 16px;
        font-weight: 300;
    }
    .language-group {
        display: flex;
        flex-direction: row-reverse;
        .dropdown-item {
            padding: 0;
            padding-right: 28px;
            text-transform: uppercase;
            position: relative;
            font-size: 16px;
            &:before {
                content: "";
                position: absolute;
                right: 14px;
                top: 0;
                width: 1px;
                height: 100%;
                background: $grey;
                display: block;
            }
        }
        .dropdown-item:first-child {
            &:before {
                display: none;
            }
        }
        .item-checked {
            color: $yellow;
        }
    }
}
