{% block sw_cms_block_text_four %}
    <div class="sw-cms-block-text-four">
        <slot name="topLeft"></slot>
        <slot name="topRight"></slot>
        <slot name="bottomLeft"></slot>
        <slot name="bottomRight"></slot>
    </div>
{% endblock %}
