{% block sw_cms_block_form_two_preview %}
    <div class="sw-cms-preview-form-two">
        <div>
            <h4 class="sw-cms-preview-form-headline">Form</h4>
            <div class="sw-cms-preview-form-inputs">
             <div class="sw-cms-preview-form-input"></div>
             <div class="sw-cms-preview-form-input"></div>
            </div>
            <div class="sw-cms-preview-form-input"></div>
            <div class="sw-cms-preview-form-inputs__action">Send</div>
        </div>
        <div>
            <h3>So finden Sie uns:</h3>
            <h4>Mit dem Auto:</h4>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
            <h4>Mit der Bahn:</h4>
            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</p>
            <br>
            <a href="#">Auf Google <span style="color: #EB6807;"> > </span></a>
        </div>
    </div>
{% endblock %}

