.sw-cms-block-text-address {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    .headline-uppercase {
        text-transform: uppercase;
    }
    .color-yellow {
        color: #EB6807;
    }
}
