{% block sw_cms_block_text_two_button_preview %}
    <div class="sw-cms-preview-text-two-button">
       <div class="inside">
           <div>
               <p> Die Kurse richten sich an Teilnehmer mit einem <span class="color-yellow">Mindestalter von 16 Jahren</span>. Gerne können auch Eltern mit Kindern unter 16 Jahren einen Workshop besuchen.</p>
           </div>
           <div>
               <p><span class="color-yellow"> Alle Kurse sind auch als Gutscheine erhältlich</span> — das besondere Geschenk für den Mann und jeden Axt-, Messer- und Schmiedebegeisterten. Bei weiteren Fragen bitte</p>
           </div>
       </div>
        <div class="sw-cms-btn">
            <button class="btn">Zu den Gutscheinen ></button>
        </div>
    </div>
{% endblock %}

