.sw-cms-preview-text-address {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0;
    padding: 10px;
    background: #090909;
    color: #D9DADB;
    .headline-uppercase {
        text-transform: uppercase;
    }
    h2 {
        color: #D9DADB;
    }
    .color-yellow {
        color: #EB6807;
    }
}

