{% block sw_cms_block_text_address_preview %}
    <div class="sw-cms-preview-text-address">
        <div>
            <p>
                Martin Huber Knives <br>
                Inh. Martin Huber <br>
                Gewerbepark 7 <br>
                4451 Garsten, Austria <br>
            </p>
        </div>
        <div>
            <p><span class="color-yellow">T:</span> <span>0043.664.123.45.67</span> </p>
            <p class="info"><span class=color-yellow>M:</span> <span>order@martin</span></p>
        </div>
    </div>
{% endblock %}

